.App2 {
  text-align: center;
}

.App2-logo {
  animation: App2-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App2-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App2-link {
  color: #61dafb;
}

@keyframes App2-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
